*{
   padding: 0px;
   margin: 0px;
   /*box-sizing: border-box;*/
}

.contenedor{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size:40px;
    justify-content: center;
    align-items: center;
    background-image: url(./findo.png);
    background-size: cover;

  

}

/*.contenedor div{
background-color: rgb(53, 175, 169);
}
*/

.cuadro {
width: 600px;
height: 600px;
display: grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
gap: 10px;
background-color: rgb(202, 230, 48);
}

.cuadro div{
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;

}

.cuadro div:hover{
    background-color: rgba(177, 88, 224, 0.267);
    cursor: pointer;
}

button{
  padding: 20px 10px;
  background-color: rgb(238, 17, 120);  
  color: white;
  outline: none;
  border: 0px;
  border-radius: 8px;
  width: 200px;
  margin-top: bold;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(233, 122, 233);

}

.lineContainer{
    position: relative;

}
#linea{
    position: absolute;
    display: block;
    background-color:  rgb(93, 93, 224);
    
}


.linehorizontal{

    display:block;
    height: 10px;
    background-color: rgb(93, 93, 224);
    top: 100px;
    left: 0px;

}
.linevertical{
    
   
    display: block;
    height: 100%;
    background-color:  rgb(93, 93, 224);
    width: 10px;
    top: 0px;
    left: 0px;
 
}
